.test-container {
  width: 300px;
  margin-top: 60px;

  .container-header {
    height: 50px;
    background-color: #5352aa;
  }
  .container-content {
    height: 10px;
    background-color: #a3aa4a;
  }
}
.test-collapse{

}
