<div class="admin-view" layout="row">
  <md-whiteframe class="md-whiteframe-24dp admin-area" layout="column">
    <div style="height: 60px; "></div>
      <md-tabs md-dynamic-height md-border-bottom flex layout="column">
        <md-tab label="Edit">
          <md-content class="md-padding">
            <file-editor></file-editor>
          </md-content>
        </md-tab>
        <md-tab label="Add">
          <md-content class="md-padding">
            <file-uploader></file-uploader>
          </md-content>
        </md-tab>
      </md-tabs>
  </md-whiteframe>
</div>
