<div layout="row" layout-align="end center">
  <div class="uploader-messages" layout="row" layout-align="center center" flex="auto">
    <span class="error-message" ng-show="statusCode == 0">This file already in list!</span>
    <span class="error-message" ng-show="statusCode == 1">Select the file!</span>
    <span class="success-message" ng-show="statusCode == 2">File uploaded successfully!</span>
  </div>
  <md-progress-circular md-mode="determinate" class="upload-rogress hidden-element"
                        value="{{progressPercentage}}"></md-progress-circular>
  <md-button ng-click="uploadFile($event)" ng-disabled="formIsValid()">
    <md-icon class="upload-icon"><i class="material-icons">file_upload</i></md-icon>
    Upload
  </md-button>
</div>
