<md-list ng-repeat="item in files" >
  <md-list-item class="add-list-item custom-list"
                layout="column"
                layout-align="center none">
    <!--ng-class="{'collapsed-item': !item.isCollapsed}"-->
    <div class="list-item-header" layout="row">
      <md-subheader id="{{$index}}" flex="auto" class="md-no-sticky" msd-wheel="horizontalScroll($event, $delta, $deltaX, $deltaY)" ng-click=" collapseContent($event, $index)">
        {{item.title}}
      </md-subheader>
      <span class="list-item-actions">
        <md-button>
          <md-icon class="item-upload-icon"><i class="material-icons">file_upload</i></md-icon>
        </md-button>
        <md-button>
          <md-icon class="item-remove-icon"><i class="material-icons">clear</i></md-icon>
        </md-button>
      </span>
    </div>
    <md-content ng-class="{'hidden-content': !item.haveBeenCollapsed}" flex>
      <!--<div class="admin-part-photo">-->
      <md-progress-circular class="md-hue-2 content-img-progress" md-diameter="70px" ng-show="!item.havePhotoBeenShown"></md-progress-circular>
      <img id="admin-list-item-image-{{$index}}" class="admin-part-photo"/>
      <!--</div>-->
      <md-input-container class="md-block" flex-gt-sm>
        <label>Name</label>
        <input ng-model="item.title">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Section</label>
        <input ng-model="item.section">
      </md-input-container>
    </md-content>
  </md-list-item>
</md-list>
{{progress}}
