<md-list ng-repeat="topic in files">
  <md-list-item class="add-list-item custom-list" ng-class="{'collapsed-item': topic.isCollapsed}" layout="column"  layout-align="center none">
    <md-subheader id="{{$index}}" class="md-no-sticky" ng-click="collapseContent($event)">{{topic.title}}</md-subheader>
    <md-content flex>
      <div class="admin-part-photo">

      </div>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Name</label>
        <input ng-model="editingPhoto.name">
      </md-input-container>
      <md-input-container class="md-block" flex-gt-sm>
        <label>Section</label>
        <input ng-model="editingPhoto.section">
      </md-input-container>
    </md-content>
  </md-list-item>
</md-list>
